
DOMAIN=yourdomain.example
HOST=localhost

#NGINX CERTS
CERT_DIR=/etc/nginx/certs
KEY="${CERT_DIR}/${HOST}.key"
CRT="${CERT_DIR}/${HOST}.crt"
CSRCONF="${CERT_DIR}/csr.conf"


#MARIADB SECRETS
MARIADB_NAME=wordpress
MARIADB_USER=change_me
MARIADB_PWD=change_me

#WORDPRESS SECRETS
WP_TITLE="Inception Wordpress Site"
WP_PUBLIC_URL=https://yourdomain.example:8443

# Must NOT contain "admin"/"Admin" in any form.
WP_ADMIN_USER=change_me
WP_ADMIN_PWD=change_me
WP_ADMIN_MAIL=owner@yourdomain.example

WP_USER=change_me
WP_USER_PWD=change_me
WP_MAIL=user@yourdomain.example

WP_DB=wordpress
WP_DB_USER=change_me
WP_DB_PWD=change_me
WP_DB_HOST=mariadb:3306

#FTP SECRETS
FTP_USER=change_me
FTP_PWD=change_me

#KEYCLOAK
KC_NAME=keycloak
KC_ADMIN=change_me
KC_ADMIN_PWD=change_me
KC_DB_USER=change_me
KC_DB_PWD=change_me
KC_REALM=Inception
KC_CLIENT_ID=wordpress
KC_CLIENT_SECRET=change_me
KC_TEST_USER=change_me
KC_TEST_USER_PWD=change_me
KC_TEST_USER_EMAIL=member@yourdomain.example
