volumes:
          mariadb:
                  name: mariadb
                  driver: local
                  driver_opts:
                              device: /home/oilyine/data/mariadb/
                              o: bind
                              type: none
          wordpress:
                  name: wordpress
                  driver: local
                  driver_opts:
                              device: /home/oilyine/data/wordpress/
                              o: bind
                              type: none

networks:
          inception:
                    name: inception

services:
        mariadb:
              container_name: mariadb
              build: ./requirements/mariadb/.
              image: mariadb:oilyine-
              volumes:
                - mariadb:/var/lib/mysql
              env_file:
                - .env
              networks:
                - inception
              restart: always
        wordpress:
              container_name: wordpress
              build: ./requirements/wordpress/.
              image: wordpress:oilyine-
              depends_on: [mariadb]
              volumes: 
                - wordpress:/var/www/wordpress
              networks:
                - inception
              env_file:
                - .env
              restart: always
        nginx:
              container_name: nginx
              depends_on: wordpress
