volumes:
          mariadb:
                  name: mariadb
                  driver: local
          wordpress:
                  name: wordpress
                  driver: local

networks:
          inception:
                    name: inception

services:
        mariadb:
              container_name: mariadb
              build: ./requirements/mariadb/.
              image: mariadb:oilyine-
              volumes:
                - mariadb:/var/lib/mysql
              env_file:
                - .env
              networks:
                - inception
              restart: always
        wordpress:
              container_name: wordpress
              build: ./requirements/wordpress/.
              image: wordpress:oilyine-
              depends_on: [mariadb]
              volumes: 
                - wordpress:/var/www/wordpress
              networks:
                - inception
              env_file:
                - .env
              restart: always
        nginx:
              container_name: nginx
              build: ./requirements/nginx/.
              image: nginx:oilyine-
              depends_on: 
                - wordpress
              ports: 
                - "80:80"
                - "443:443"
              env_file:
                - .env
              networks: 
                - inception
              volumes:
                - wordpress:/var/www/wordpress:rw
              restart: always
        redis:
              container_name: redis
              build: ./requirements/bonus/redis/.
              image: redis:oilyine-
              networks: [inception]
              restart: always
        adminer:
              container_name: adminer
              build: ./requirements/bonus/adminer/.
              image: adminer:oilyine-
              networks: [inception]
              restart: always
              ports:
                - "8080:8080"
        ftp:
              container_name: ftp
              build: ./requirements/bonus/ftp/.
              image: ftp:oilyine-
              networks: [inception]
              restart: always
              env_file: [.env]
              volumes:
                - wordpress:/var/www/wordpress
              ports:
                - "21:21"
                - "21000-21010:21000-21010"
